<table class="table table-striped table-bordered tabel-hover tabel-condensed">
  <thead>
    <tr>
      <th>
        No
      </th>
      <th>
        Nama
      </th>
      <th>
        E-Mail
      </th>
      <th>
        NoTelp
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- kosong -->
    <tr *ngFor="let t of temanParent; let i=index">
      <td>{{i+1}}</td>
      <td>{{t.nama}}</td>
      <td>{{t.email}}</td>
      <td>{{t.noTlpn}}</td>
      <td><button (click)="showname(i)">Edit</button></td>
    </tr>
  </tbody>
</table>